body
  padding-top 61px


.navbar.navbar-inverse.navbar-fixed-top
  background-color: #08769D

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px

  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 90px
  right 400px

.toast-success
  background-color: #08769D
