.container(ng-controller="mvNavBarLoginCtrl")
  .jumbotron
    h1 Multivision
    p Welcome to multivision! the most comprehensive and complete collection of extreme tech training videos on the web. 
    p {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
  .row
    .col-md-12
      div(ng-include="'/partials/main/property-info'" , ng-show="identity.currentUser.isGm()")
  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")
  
